.navbar-brown {
  background-color: black;
}

.navbar-brown a {
  color: white
}

.navbar {
  height: 25vh;
  padding-left: 4cm;
}

.login-container {
  float: right;
} 

.banner {
  height: 85vh;
}
p:hover, h1:hover, a:hover {
  background-color: yellow;
}

html {
  scroll-behavior: smooth;
}

.monges-image {
  background-image: url(https://static01.nyt.com/images/2012/08/24/arts/24SAMSARA_SPAN/0824SAMSARA1-superJumbo.jpg);
   /* alt="Monges tibetanos criando mandala em areia colorida."); */
  padding: 0;
  background-attachment: fixed, scroll;
  background-repeat: no-repeat, repeat-y;
}

/*   html{
            background: url('Sun.jpg') no-repeat center center fixed;
            -webkit-background-size:cover;
            -moz-background-size:cover;
            -o-background-size:cover;
            background-size:cover;
            background-position: 0 0;

        } */