.navbar-brown {
  background-color: black;
}

.navbar-brown a {
  color: white
}

.navbar {
  height: 25vh;
  padding-left: 4cm;
}

.navbar-nav {
  width: 100%;
}

.login-container {
  display: flex;
  width: 100%;
  justify-content: flex-end;
} 

.banner {
  height: 85vh;
}
p:hover, h1:hover, a:hover {
  background-color: yellow;
}

html {
  scroll-behavior: smooth;
}

.monges-image {
  /* background-image: url(https://static01.nyt.com/images/2012/08/24/arts/24SAMSARA_SPAN/0824SAMSARA1-superJumbo.jpg); */
   /* alt="Monges tibetanos criando mandala em areia colorida."); */
  background-image: url("../img/monks-image.jpg");
  padding: 0;
  background-attachment: fixed, scroll;
  background-repeat: no-repeat, repeat-y;
  
  -webkit-background-size:cover;
  -moz-background-size:cover;
  -o-background-size:cover;
  background-size:cover;
  background-position: 0 0;
}

.bg-read {
  background-color: rgba(255, 255, 255, 0.3);
}